@model IEnumerable<Salon.Models.Favorite>
@{
    ViewBag.Title = "Favorite";
}

<h2>Favorites</h2>



@foreach (var item in Model)
{
    <div class="fav">
        <img  src="@item.Image" style="width:300px; height:150px;" />
        <button fav_id="@item.FavoriteId" class="btn-default delete">Delete</button>
    </div>
}


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".delete").on("click", function () {
                var btn = $(this)
                console.log(btn.attr("fav_id"))
                $.ajax({
                    url: "/Car_dealership/Del_Favorite/" + btn.attr("fav_id"),
                    method: "GET",
                    success: function () {
                        bootbox.alert("Removed from Favorites");
                        btn.parent("div").remove()
                    }
                })
            })
        })
    </script>
}


@section Styles
{
    <style>
        img {
            width: 250px;
            height: 150px;
            margin-bottom: 10px;
        }

        .fav {
            display: inline-block;
            border: 1px solid gray;
            margin: 10px;
            padding: 5px;
            vertical-align: top;
            width: 310px;
            text-align: center;
        }
    </style>

}